/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #DDD0C8;
}

main{
    width: 100%;
}

footer{
    margin-top: auto;
    color: white;
    background-color: #282828;
}

.foot{
    font-size: 10px;
    margin-top: 15px;
}

/* pagina principal */

.titulo{
    font-size: 40px;
    color: whitesmoke;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px black;
}

.fondo{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/uno.jpg);
    background-size: cover;
    background-position: center;
}

/* titulo principal de los proyectos */

.proyectos{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.tituloproyectos{
    font-size: 50px;
    letter-spacing: 20px;
}

/* proyecto uno */

.sectionuno{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px;
}

.parrafouno{
    padding: 0 80px;
}

.titulouno{
    padding-bottom: 20px;
}

/* proyecto dos */

.sectiondos{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px 0;
}

.parrafodos{
    padding: 0 80px;
}

.titulodos{
    padding-bottom: 20px;
}

/* titulo de los servicios */

.servicios{
    display: flex;
    justify-content: flex-start;
    padding: 30px;
}

.tituloservicios{
    font-size: 20px;
    letter-spacing: 3px;
}

/* bloque de servicios */

.sectionservicios{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 50%);
    padding: 5vh;
    row-gap: 20px;
    }

.titulodiseño{
    display: flex;
    padding: 5px;
}

.tituloobra{
    display: flex;
    padding: 5px;
}

/* nosotros */

.nosotros{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1;
    margin: 50px;
    align-items: center;
    }

.titulonosotros{
    font-size: 40px;
}

.parrafonosotros{
    padding: 20px;
}

/* contacto */

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 3rem;
}

.texto{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* estilos de header bootstrap */

.navbar{
    background-color: #282828 !important;
}

/* estilos para mobile */

@media screen and (max-width:576px){

    main{
        width: 100%;
    }

    .titulo{
        font-size: 12px;
    }

    .tituloproyectos{
       font-size: 30px;
       letter-spacing: 1rem;
    }

    .sectionuno{
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 50px;
    }

    .parrafouno{
        padding: 0 5px;
    }

    .sectiondos{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .parrafodos{
        padding: 0 5px;
    }

    .nosotros{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .titulonosotros{
        padding: 10px;
    }

    .imgnosotros{
        width: 90%;
        padding-bottom: 50px;
    }

    .contacto{
        display: flex;
        flex-direction: column-reverse;
    }

    .texto{
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: 1;
        margin: 0px;
        gap: 20px;
    }

    .contactoimg{
        width: 100%;
    }

}

/* estilos para tablet */

@media screen and (min-width:576px) and (max-width:992px){

    main{
        width: 100%;
    }

    .fondo{
        height: 90vh;
    }

    .titulo{
        font-size: 30px;
    }

    .tituloproyectos{
        font-size: 50px;
        font-weight: bold;
        margin: 20px;
        letter-spacing: 1rem;
     }
    
    .sectionuno{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 1;
    width: 90%;
    gap: 50px;
    }

    .parrafouno{
        padding: 0 5px;
    }

    .titulouno{
        padding-bottom: 5px;
    }

    .sectiondos{
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: 1;
        gap: 50px;
    }
    
    .parrafodos{
        padding: 0 5px;
    }
    
    .titulodos{
        padding-bottom: 5px;
    }

    .nosotros{
        display: flex;
        flex-direction: column;
    }

    .parrafonosotros{
        margin: 0 100px;
    }

    .imgnosotros{
        padding-top: 30px;
    }

    .contacto{
        display: flex;
        flex-direction: column-reverse;
    }

    .texto{
        display: grid;
        grid-template-columns: repeat(2, 40%);
        margin: 50px;
    }

    .redes{
        padding: 30px;
    }

    .job{
        padding: 30px;
    }

}
