// mixin

@import "../abstracts/mixin";

/* estilos mobile */

@media screen and (max-width:576px){
    main{
        .titulo{
            font-size: 12px;
        }
        .tituloproyectos{
            font-size: 30px;
            letter-spacing: 5px;
        }
        .sectionuno{
            @include flex;
            flex-direction: column;
            width: 100%;
            gap: 3rem;
            margin: 0px;
            padding: 10px;
        }
        .parrafouno{
            font-size: 15px;
        }
        .imagenuno img{
            width: 90%;

        }
        .sectiondos{
            @include flex;
            flex-direction: column-reverse;
            width: 100%;
            gap: 3rem;
            margin: 0px;
            padding: 10px;
        }
        .parrafodos{
            padding: 0 20px;
            font-size: 15px;
        }
        .imagendos img{
            width: 90%;
        }
        .sectionservicios{
            row-gap: 8rem;
            font-size: 15px;
            padding: 30px;
        }
        .nosotros{
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
        .textonosotros{
            padding: 20px;
            font-size: 15px;
        }
        .imgnosotros{
            width: 90%;
            padding-bottom: 50px;
        }
        .contacto{
            display: flex;
            flex-direction: column-reverse;
            gap: 3rem;
            font-size: 15px;
        }
        .texto{
            display: grid;
            grid-template-columns: repeat(2, 45%);
            grid-template-rows: repeat(2, 30%);
            gap: 1rem;
        }
        .titulocontacto{
            grid-column: span 2;
        }
        .contactoimg{
            width: 100%;
        }
    }
}