// mixin

@import "../abstracts/mixin";

/* estilos tablet */

@media screen and (min-width:576px) and (max-width:992px){
    main{
        .fondo{
            height: 90vh;
        }
        .titulo{
            font-size: 30px;
        }
        .tituloproyectos{
            font-size: 60px;
            letter-spacing: 5px;
        }
        .sectionuno{
            @include flex;
            flex-direction: column;
            width: 90%;
            gap: 50px;
        }
        .parrafouno{
            padding: 40px;
        }
        .sectiondos{
            @include flex;
            flex-direction: column-reverse;
            width: 100%;
            gap: 50px;
        }
        .parrafodos{
            padding: 100px;
        }
        .sectionservicios{
            row-gap: 150px;
        }
        .nosotros{
            display: flex;
            flex-direction: column;
        }
        .textonosotros{
            padding: 60px;
        }
        .imgnosotros{
            padding-top: 30px;
        }
        .contacto{
            display: flex;
            flex-direction: column-reverse;
            gap: 4rem;
        }
        .texto{
            display: grid;
            grid-template-columns: repeat(2, 40%);
            grid-template-rows: repeat(2, 30%);
            margin: 20px;
        }
        .titulocontacto{
            grid-column: span 2;
        }
    }
}